.vector-icon2 {
  position: relative;
  width: 25px;
  height: 25px;
}
.medics2 {
  position: relative;
  font-weight: 600;
}
.vector-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.logo1 {
  position: relative;
  width: 109px;
  height: 24px;
}
.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--ios-ffffff);
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-45xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-royalblue-100);
  font-family: var(--font-montserrat);
}
.salus-is-here1,
.welcome-james1 {
  position: absolute;
  display: inline-block;
}
.salus-is-here1 {
  top: 23px;
  left: 0;
  line-height: 18px;
  width: 640px;
}
.welcome-james1 {
  top: 0;
  left: 174.74px;
  font-size: var(--ios-medium-body-size);
  font-weight: 600;
  color: var(--color-gray-200);
  width: 290.53px;
}
.consultation-start1 {
  position: relative;
  width: 640px;
  height: 59px;
}
.chat-2-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs) 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-lavender-200);
  width: 431px;
  height: 38px;
}
.ive-been-feeling1 {
  position: absolute;
  top: 10px;
  left: 14px;
}
.chat-1-inner,
.chat-22 {
  position: absolute;
  top: 124px;
  left: 369px;
  width: 431px;
  height: 38px;
}
.chat-1-inner {
  top: 0;
  left: 0;
  border-radius: 0 var(--br-5xs) var(--br-5xs) var(--br-5xs);
  background-color: var(--ios-ffffff);
  width: 600px;
  height: 60px;
}
.hello-im-your1 {
  position: absolute;
  top: 10px;
  left: 14px;
  line-height: 20px;
  display: inline-block;
  width: 572px;
}
.avatar-icon9,
.chat-12 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 600px;
  height: 60px;
}
.avatar-icon9 {
  top: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.min-ago8,
.salus9 {
  position: absolute;
  top: 4px;
  left: 53px;
  font-weight: 600;
}
.min-ago8 {
  top: 25px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-lightslategray);
}
.profile9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 40px;
  color: var(--color-gray-200);
}
.chat-2-container {
  position: relative;
  width: 800px;
  height: 162px;
}
.chat-4-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs) 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-lavender-200);
  width: 279px;
  height: 38px;
}
.no-just-fatigue1 {
  position: absolute;
  top: 9px;
  left: 14px;
  line-height: 20px;
}
.chat-46 {
  position: absolute;
  top: 124px;
  left: 521px;
  width: 279px;
  height: 38px;
}
.im-sorry-to1 {
  position: absolute;
  top: 10px;
  left: 12px;
  line-height: 20px;
  display: inline-block;
  width: 572px;
}
.chat-3-parent5,
.profile10 {
  position: absolute;
  top: 0;
  left: 0;
}
.profile10 {
  width: 109px;
  height: 40px;
  color: var(--color-gray-200);
}
.chat-3-parent5 {
  width: 600px;
  height: 110px;
}
.chat-4-child4,
.chat-47 {
  position: absolute;
  width: 376px;
  height: 38px;
}
.chat-4-child4 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs) 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-lavender-200);
}
.chat-47 {
  top: 101px;
  left: 424px;
}
.chat-3-child7,
.chat-39 {
  position: absolute;
  left: 0;
  width: 600px;
  height: 40px;
}
.chat-3-child7 {
  top: 0;
  border-radius: 0 var(--br-5xs) var(--br-5xs) var(--br-5xs);
  background-color: var(--ios-ffffff);
}
.chat-39 {
  top: 50px;
}
.chat-3-parent6,
.profile11 {
  position: absolute;
  top: 0;
  left: 0;
}
.profile11 {
  width: 110px;
  height: 40px;
  color: var(--color-gray-200);
}
.chat-3-parent6 {
  width: 600px;
  height: 90px;
}
.chat-4-parent4 {
  position: relative;
  width: 800px;
  height: 139px;
}
.chat-3-child8,
.chat-48 {
  position: absolute;
  top: 101px;
  left: 369px;
  width: 431px;
  height: 38px;
}
.chat-3-child8 {
  top: 0;
  left: 0;
  border-radius: 0 var(--br-5xs) var(--br-5xs) var(--br-5xs);
  background-color: var(--ios-ffffff);
  width: 347px;
  height: 40px;
}
.i-see-have1 {
  position: absolute;
  top: 10px;
  left: 12px;
  line-height: 20px;
}
.chat-3-parent7,
.chat-310 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 347px;
  height: 40px;
}
.chat-3-parent7 {
  top: 0;
  height: 90px;
}
.chat-2-child1,
.chat-4-child6,
.chat-49 {
  position: absolute;
  width: 140px;
  height: 38px;
}
.chat-4-child6 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs) 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-lavender-200);
}
.chat-2-child1,
.chat-49 {
  top: 124px;
  left: 660px;
}
.chat-2-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs) 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-lavender-200);
  width: 128px;
}
.yes-please1 {
  position: absolute;
  top: 10px;
  left: 14px;
  line-height: 20px;
}
.chat-23,
.chat-312 {
  position: absolute;
  top: 220px;
  left: 672px;
  width: 128px;
  height: 38px;
}
.chat-312 {
  top: 116px;
  left: 0;
  width: 600px;
  height: 60px;
}
.chat-2-parent1 {
  position: relative;
  width: 800px;
  height: 258px;
}
.profile15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 108px;
  height: 40px;
  color: var(--color-gray-200);
}
.chat-3-child13,
.chat-315,
.profile17 {
  position: absolute;
  left: 0;
  width: 344px;
  height: 40px;
}
.chat-3-child13 {
  top: 0;
  border-radius: 0 var(--br-5xs) var(--br-5xs) var(--br-5xs);
  background-color: var(--ios-ffffff);
}
.chat-315,
.profile17 {
  top: 50px;
}
.profile17 {
  top: 0;
  width: 105px;
  color: var(--color-gray-200);
}
.chat-3-parent11,
.group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 344px;
  height: 90px;
}
.group-icon {
  top: 94px;
  width: 58px;
  height: 22px;
}
.group-parent2 {
  position: relative;
  width: 344px;
  height: 116px;
  cursor: pointer;
}
.consultation-start-group,
.group-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  text-align: left;
}
.consultation-start-group {
  position: absolute;
  top: 175px;
  left: 320px;
  align-items: center;
  gap: var(--gap-21xl);
  text-align: center;
}
.button-send-icon,
.type-message-child {
  position: absolute;
  top: 0;
  left: 750px;
  width: 50px;
  height: 50px;
}
.type-message-child {
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--ios-ffffff);
  border: 1px solid var(--color-azure);
  box-sizing: border-box;
  width: 738px;
}
.paperclip-icon {
  position: absolute;
  top: 15px;
  left: 697px;
  width: 20.7px;
  height: 20px;
}
.al {
  position: absolute;
  top: 17px;
  left: 19.67px;
  line-height: 20px;
  display: inline-block;
  width: 115.92px;
}
.button-send-parent,
.type-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 738px;
  height: 50px;
}
.button-send-parent {
  top: 1882px;
  left: 320px;
  width: 800px;
}
.frame-inner {
  position: relative;
  width: 40px;
  height: 37.83px;
}
.group-parent3 {
  position: absolute;
  top: 93px;
  left: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--ios-default-title-2-size);
  color: var(--color-gray-200);
}
.frame-child1 {
  position: absolute;
  top: 480px;
  left: 1420px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-100);
  width: 6px;
  height: 72px;
}
.frame-top {
  position: relative;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 1974px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
