.home-indicator-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 36px;
}
.home-indicator7 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67.5px);
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslategray-300);
  width: 134px;
  height: 5px;
}
.home-indicator6 {
  position: absolute;
  top: 776px;
  left: 0;
  width: 375px;
  height: 36px;
}
.button7 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.button-container,
.group-child9 {
  position: absolute;
  overflow: hidden;
}
.button-container {
  top: 342px;
  left: 20px;
  border-radius: var(--br-13xl);
  background-color: var(--color-royalblue-300);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-127xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--ios-medium-body-size);
}
.group-child9 {
  height: 36.13%;
  width: 100%;
  top: 46.45%;
  right: 0;
  bottom: 17.42%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.incorrect-password {
  position: absolute;
  top: 87.74%;
  left: 0;
  line-height: 135%;
  font-weight: 500;
}
.rounded-rectangle6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.jamesschleifergmailcom2 {
  position: absolute;
  top: 28.57%;
  left: 16.72%;
  line-height: 150%;
  font-weight: 500;
}
.icon-email2 {
  position: absolute;
  width: 5.97%;
  top: calc(50% - 10px);
  right: 86.87%;
  left: 7.16%;
  max-width: 100%;
  overflow: hidden;
  height: 20px;
}
.rounded-rectangle-parent3 {
  position: absolute;
  height: 36.13%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 63.87%;
  left: 0;
  font-size: var(--ios-medium-body-size);
  color: var(--color-gray-200);
}
.group-parent12 {
  position: absolute;
  height: 19.09%;
  width: 89.33%;
  top: 18.97%;
  right: 5.33%;
  bottom: 61.95%;
  left: 5.33%;
  text-align: left;
  color: var(--color-tomato);
}
.rectangle8,
.rectangle9 {
  position: absolute;
  height: 113.64%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -13.64%;
  left: 0;
}
.rectangle9 {
  height: 100%;
  bottom: 0;
}
.border5,
.cap-icon5 {
  position: absolute;
  mix-blend-mode: normal;
}
.border5 {
  top: 0;
  right: 2.33px;
  border-radius: 2.67px;
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.cap-icon5 {
  top: 3.67px;
  right: 0;
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.capacity5 {
  position: absolute;
  top: 2px;
  right: 4.33px;
  border-radius: 1.33px;
  background-color: var(--color-gray-200);
  width: 18px;
  height: 7.33px;
}
.battery5 {
  position: absolute;
  top: 17.33px;
  right: 14.67px;
  width: 24.33px;
  height: 11.33px;
}
.wifi-icon5 {
  position: relative;
  width: 15.27px;
  height: 10.97px;
}
.cellular-connection-icon5 {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.span9 {
  letter-spacing: -0.28px;
}
.time-style5,
.time5 {
  position: absolute;
  width: 54px;
}
.time5 {
  top: calc(50% - 7.5px);
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.time-style5 {
  top: 13px;
  left: 21px;
  height: 21px;
}
.iphone-xstatus-barsstatus-ba5 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 187.5px);
  width: 375px;
  height: 44px;
  overflow: hidden;
}
.top-bar8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 44px;
}
.login5 {
  position: absolute;
  top: 53px;
  left: 20px;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: left;
}
.top-bar7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 88px;
  color: var(--color-gray-200);
  font-family: var(--ios-medium-body);
}
.login-wrong-password {
  position: relative;
  background-color: var(--ios-ffffff);
  width: 100%;
  height: 812px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--ios-ffffff);
  font-family: var(--font-inter);
}
