.home-indicator-child2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 36px;
}
.home-indicator9 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67.5px);
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslategray-300);
  width: 134px;
  height: 5px;
}
.button-inner,
.home-indicator8 {
  position: absolute;
  top: 776px;
  left: 0;
  width: 375px;
  height: 36px;
}
.button-inner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-royalblue-100);
}
.login6 {
  position: absolute;
  top: 28.57%;
  left: 43.58%;
  line-height: 150%;
  font-weight: 600;
}
.button8 {
  position: absolute;
  top: 342px;
  left: 20px;
  width: 335px;
  height: 56px;
  cursor: pointer;
  color: var(--ios-ffffff);
}
.input-icon1,
.rounded-rectangle7 {
  position: absolute;
  top: 72px;
  left: 0;
  width: 335px;
  height: 56px;
}
.rounded-rectangle7 {
  height: 100%;
  width: 102.45%;
  top: 0;
  right: -2.45%;
  bottom: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.jamesschleifergmailcom3 {
  position: absolute;
  top: 28.57%;
  left: 17.13%;
  line-height: 150%;
  font-weight: 500;
}
.icon-check1,
.icon-email3 {
  position: absolute;
  overflow: hidden;
}
.icon-email3 {
  width: 6.12%;
  top: calc(50% - 10px);
  right: 86.54%;
  left: 7.34%;
  max-width: 100%;
  height: 20px;
}
.icon-check1 {
  height: 28.57%;
  width: 4.89%;
  top: 35.71%;
  right: 7.34%;
  bottom: 35.71%;
  left: 87.77%;
}
.input-fields1,
.input1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 327px;
  height: 56px;
}
.input-fields1 {
  top: 154px;
  left: 20px;
  height: 128px;
  text-align: left;
}
.rectangle10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.top-icon {
  position: absolute;
  top: 52px;
  left: 24px;
  width: 40px;
  height: 40px;
}
.border6,
.cap-icon6 {
  position: absolute;
  mix-blend-mode: normal;
}
.border6 {
  top: 0;
  right: 2.33px;
  border-radius: 2.67px;
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.cap-icon6 {
  top: 3.67px;
  right: 0;
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.capacity6 {
  position: absolute;
  top: 2px;
  right: 4.33px;
  border-radius: 1.33px;
  background-color: var(--color-gray-200);
  width: 18px;
  height: 7.33px;
}
.battery6 {
  position: absolute;
  top: 17.33px;
  right: 14.67px;
  width: 24.33px;
  height: 11.33px;
}
.wifi-icon6 {
  position: relative;
  width: 15.27px;
  height: 10.97px;
}
.cellular-connection-icon6 {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.span10 {
  letter-spacing: -0.28px;
}
.time-style6,
.time6 {
  position: absolute;
  width: 54px;
}
.time6 {
  top: calc(50% - 7.5px);
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.time-style6 {
  top: 13px;
  left: 21px;
  height: 21px;
}
.iphone-xstatus-barsstatus-ba6 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 187.5px);
  width: 375px;
  height: 44px;
  overflow: hidden;
}
.top-bar10,
.top-bar9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 44px;
}
.top-bar9 {
  height: 88px;
  font-size: var(--font-size-sm);
  font-family: var(--ios-medium-body);
}
.login7 {
  position: absolute;
  top: 53px;
  left: 20px;
  font-size: var(--font-size-lg);
  font-weight: 600;
  text-align: left;
}
.login-correct-password {
  position: relative;
  background-color: var(--ios-ffffff);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--ios-medium-body-size);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
